html, body {
  height: 100%;
  background-color: pink;
}

.Top-container{
  position: relative;

  color: aqua; /*changes text color*/
  background-color: gray;/*changes background of text color*/
  font-family:monospace, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*font of text at top*/

  height: 40px;
  margin: 0 auto;
  
}
.Title-container{
  text-align: center;/*changes center of text*/
  
}

.Middle-container{
  height: 10px;
  background-color: gray;
}
.Leftside-container{
  text-align: right;
  background-color: gray;
  height: 30px;
  }

button1{
  border: 10;
  padding: 10;
  height: 30px;
  width: 70px;
  background-color: gray;
  margin: 10px;
  
  position:absolute; 
  top:0; 
  right:0; 

}

button2{
  border: 10;
  padding: 10;
  height: 30px;
  width: 70px;
  background-color: gray;
  margin: 10px;
  
  position:absolute; 
  top:0; 
  right: 60px;

}

a:hover {
  color: hotpink;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
