html, body {
  height: 100%;
  background-color: pink;
  font-family:monospace, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*font of text at top*/
}

.Top-container{
  position: relative;

  color: aqua; /*changes text color*/
  background-color: gray;/*changes background of text color*/
  


 
padding: 50px;
  
}
.Title-container{
  text-align: center;/*changes center of text*/
  padding: 0px;
}

.Middle-container{
  height: 10px;
  background-color: gray;
  padding: 10px;

}
.Leftside-container{
  text-align: right;
  background-color: gray;
  height: 30px;
  }

button1{

  padding:2px;
  height: 20px;
  width: 70px;
  background-color: gray;

  margin: 10px;
  
  position:absolute; 
  top:0; 
  right:0; 

  

}

button2{

  padding:2px;
  height: 20px;
  width: 70px;
  background-color: gray;
  margin: 10px;
  
  position:absolute; 
  top:0; 
  right: 70px;

 
  font-family:monospace, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*font of text at top*/


}

button4{

  padding: 2px;
  height: 20px;
  width: 70px;
  background-color: gray;
  margin: 10px;
  
  position:absolute; 
  top:0; 
  right: 140px;

 
  font-family:monospace, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*font of text at top*/


}
a:hover {
  color: hotpink;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }

.MainDrawing{ 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainDrawing img {
  width: 90%;
}

.contact-container1{
  
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 10px;
   
    padding: 10px;
}
.contact-container2{
  
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 30px;
  padding: 5px;
}

.contact-container3 > div{
  padding: 10px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-container3 button{
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 10px;
  height: 40px;
  width: 70px;
  cursor: pointer;
  background-color: lightgray;
  color: black;
  text-transform: uppercase;
  margin-right: 10px;
  border-radius: 9px;


}

.linktree{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: lightgrey;
  padding:  5px;
  border-radius: 9px;

 
/*   
  top:450px; 
  right:-50px; */
}


.instagram{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: lightgrey;
  padding:  5px;
  border-radius: 9px;
  /* top:450px; 
  right:400px; */
}

.youtube{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: lightgrey;
  padding:  5px;
  border-radius: 9px;




  /* top:550px; 
  right:400px; */

}

.twitter{

  /* font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 10px;
  height: 50px;
  width: 90px;
  cursor: pointer;
  background-color: lightgray;
  color: black;
  text-transform: uppercase;
  margin-right: 0px;
  border-radius: 9px; */


  /* top:550px; 
 right:400px; */

  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: lightgrey;
  padding:  5px;
  border-radius: 9px;


}

.links-pages{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

}


.shop1{
  gap: 10px;
  background-color: lightgrey;
  padding:  5px;
  border-radius: 9px;

}

.shop2{


  gap: 10px;
  background-color: lightgrey;
  padding:  5px;
  border-radius: 9px;

}


.shop3{


  gap: 10px;
  background-color: lightgrey;
  padding:  5px;
  border-radius: 9px;

}


.shops-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}


